{% extends "App1/padre.html" %}

{% block botones %}
<a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'Carreras' %}">Carreras</a>
<a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a>
{% endblock %}

{% block titulo %}

Aqui podemos buscar los cursos por categoría

{% endblock %}

{% block info %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/App1/buscarCu/" method="GET"> {% csrf_token %}

        <input type="text" name="categorias" id="categorias">

        <input type="submit" value="buscar">

    </form>



</body>
</html>
{% endblock %}