{% extends "App1/padre.html" %}

{% block botones %}
<a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'Carreras' %}">Carreras</a>
<a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a>
<a class="navbar-brand" href="{% url 'BuscarCa' %}">Buscar</a>
{% endblock %}

{% block titulo %}

Aqui podemos ver las carreras de la categoría {{busqueda}}

{% endblock %}

{% block info %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando la categoria: {{busqueda}}</p>

    {% for carreras in carreras %}
        <ul>
            <li>categoria: {{carreras.categorias}}</li>
            <li>carrera: {{carreras.carreras}}</li>
            <li>duracion: {{carreras.duracion}}</li>
        </ul>
    
    {% endfor %}

</body>
</html>
{% endblock %}